.navigationBar {
    height: 55px;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    right: 0;
    z-index: 100;
    background-color:#0088cb;
  }

.headercontainer {
    display: flex;
    width: 1242px;
    position: absolute;
    top: 15px;
    left: 140px;
}


.menu {
    flex: 1;
    margin: 5px;
    margin-top: 15px;
    margin-left: 24.5%;
}

.logo{
    flex: 1;
    margin-left: 27.3%;
    margin-top: -20px
}

.socialBar{
    flex: 1;
    margin-left: -5%;
    margin-top: -55px;
}


.socialBar ul{
    flex: 1;
    margin-right: 24%;
}

.socialBar ul li {
    flex: 1;
    margin-left: 0.8%;
    float: right;
}


.bodyContainer{
    display: flex;
    position: absolute;
    width: 100%;
    top: 15px;
    left: 140px;
    margin-left: -155px;
    height: 110%;
}

.onBackground{
    display: flex;

}

.backgroundImage{
    display:flex;
    position: absolute;
    width: 100%;
    margin-top: 40px;

}


.textt{
    flex:1;
    position: absolute;
    margin-top: 230px;
    margin-left: 20px;
    color: #FFFFFF;
    width: 110%;
    position: fixed;
    line-height: 1.1;
}

.animals{
    float: 1px;
    margin-left: 272px;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2.5px;
    font-size: 16px;
}

.paragraph{
    float: 1px;
    margin-left: 272px;
    margin-top: -15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    width: 31%;

}

.authors{
    display: flex;
    text-align-last: auto;
}


.author1{
    float: 1px;
    margin-left: 272px;
    margin-top: -11.5px;
    font-family: 'Myanmar Text';
    font-size: 18px;
    font-style: italic;
    width: 25.5%;
    line-height: 2px;

}

.author2{
    float: 1px;
    margin-left: -400px;
    margin-top: -11.5px;
    font-family: 'Myanmar Text';
    font-size: 18px;
    width: 25.5%;
    line-height: 2px;

    font-style: normal;
}