body {
    background: #b7a0bd;
}

.form{
    border: purple 1px;
    width: 20%;
    border-radius: 6px;
    margin: 150px auto;
    background: rosybrown;
    padding: 50px;

}

button{
    color: black;
    background: whitesmoke;
    padding: 10px;
    margin-left: 120px;  
}